.row.center-xs
	.col-xs-12.col-sm-10.col-md-10.col-lg-8
		.box
			.white.top-space.relative
				/contenedor-cover
				.padding-cover.white-text.text-left.cover.relative#user-cover{style:"background-image:url(#{@user.cover.url(:medium)})"}
					.absolute{style:"top:6px;right:6px;"}
						=buttons_image_for_user @user, "btn-user-cover", "user_cover"
				/contenedor-avater
				.top-space#user-avatar
					=circle_img @user.avatar.url(:medium),150
					.absolute{style:"bottom:6px;right:6px;"}
						=buttons_image_for_user @user, "btn-user-avatar", "user_avatar"
				%section.border-bottom.top-space.relative
					.row.middle-xs.p-1
						.col-xs-4
							.box
								%h1.no-margin.medium.float-xs-left
									%span= best_in_place_if current_user == @user, @user, :name
						.col-xs-2
							.box
								%b=@user.followers.count
								Seguidores
						.col-xs-2
							.box
								%b=@user.posts.count
								Posts
						.col-xs-2
							.box
								%b=link_to "Amigos", friends_user_path, class:""

						.col-xs-4.col-sm-2
							.box#buttonAdd
								-unless @are_friends
									=button_to friendships_path(friend_id: @user.id),method: :post,remote: true, :"data-type" => "script", class:"btn btn-secondary btn-sm" do
										Agregar
										%i.fa.fa-user-plus



		.large-padding
			.row
				.col-xs-6.col-md-4.text-left
					.box
						%span.text-muted.text-italics= best_in_place_if current_user == @user, @user, :bio
				.col-xs-2
					.box
			.top-space
				=form_for @user, remote: true do |f|
					= f.file_field :avatar, class:"remotipart"
				=form_for @user, remote: true do |f|
					= f.file_field :cover, class:"remotipart"


.row.center-xs
	.col-xs-12.col-sm-10.col-md-10.col-lg-8
		.box.text-left
			=render @posts
	
		#pagination
			=will_paginate @posts






:javascript
/	$(document).ready(function () { $(".best-in-place").best_in_place(); });
/	$( document ).on('turbolinks:load', function() {
/		console.log("It works on each visit!");
/		$(".best-in-place").best_in_place();
/	});
	$("#btn-user-cover").click(function(){
		$( "#user_cover" ).click();
	});
	$("#btn-user-avatar").click(function(){
		$( "#user_avatar" ).click();
	});
