.content-post
  %table
    %tr
      %td
        =circle_img post.user.avatar.url(:thumb),50
      %td.padding-left{style:"vertical-align: top;"}
        =link_to post.user.name, post.user
        %table
          %tr
            %td
              .text-muted{:id => "fecha-#{post.id}", style:"font-size:0.8em"}
                =post.created_at.strftime "%d %b"
          %tr
            %td
              =post.body
  .zone-0
    %table
      %tr
        %td
          %div{:id => "buttonLike-#{post.id}"}
            =button_like post, @user_act
        %td{style:"padding-left:0.5em;"}
          /Refactor
          -if post.likes.count > 0
            %p.text-danger.no-margin{:id=>"countLike-#{post.id}", style:"font-size:0.9em;"}
              =post.likes.count
          -else
            %p.text-muted.no-margin{:id=>"countLike-#{post.id}", style:"font-size:0.9em;"}
  %div{:id => "post-comments-#{post.id}"}
    =render partial:"comments/show", locals: {comments: post.comments}
  .top-space
    =render partial:"comments/new", locals: {item: post}